<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">
      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <%= link_to home_path, class: "nav-link" do %>
              <i class="mdi mr-1"></i>Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to service_path, class: "nav-link" do %>
              <i class="mdi mr-1"></i>Our Services
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to clients_path, class: "nav-link" do %>
              <i class="mdi mr-1"></i>Our Clients
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to portfolio_path, class: "nav-link" do %>
              <i class="mdi mr-1"></i>Portfolio
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to home_path, class: "nav-link" do %>
              <i class="mdi mr-1"></i>Get a Quote
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to home_path, class: "nav-link" do %>
              <i class="mdi mr-1"></i>Contact us
            <% end %>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</div>